@import "tailwindcss";

@theme {
  --color-primary: #1b2a41;
  --color-secondary: #324a5f;
  --color-defaultWhite: #ebebeb;
  --color-defaultDark: #0c1821;
  --color-defaultWhiteText: #f5f5f5;
}

@layer utilities {
  .text-shadow-md {
    text-shadow: -3px 2px 1px black;
  }
  .box-shadow-box {
    box-shadow: -6px 5px 1px black;
  }
}

body {
  @apply bg-defaultWhite;
  @apply bg-[url(./assets/background1.svg)] bg-cover;
  height: 100vh;
}
